@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b10;
  --fg: #e6e6f0;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--fg);
  background: radial-gradient(1000px 600px at 10% -20%, #1b1b2a, transparent),
              radial-gradient(1000px 600px at 110% 120%, #112, transparent),
              var(--bg);
}
